/* Buiac
 */

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  max-width: 40em;
}

body {
  min-height: 100%;
  width: 100%;
  padding: 20% 4% 4% 8%;
  background-color: #F7F7F7;
  border-left: 20px solid #c83771;

  color: #333;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

h2,
h3,
h4 {
  margin: 1.2em 0 .4em;

  font-weight: 300;
}

h2 {
  font-size: 2.8em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.2em;
  font-weight: 700;
}

p {
  margin: 0 0 1em;
}

a {
  color: #c83771;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid #c83771;

  text-decoration: none;
}

/* header
 */

.logo {
  display: block;
  width: 48%;
  position: relative;
  overflow: hidden;
  display: block;
  margin-left: -8%;
  background: url(../images/logo.svg) no-repeat left top;
  background-size: contain;

  text-indent: -9999px;
}

.logo a {
  display: block;
}

.logo a:hover {
  border: 0;

  text-decoration: none;
}

.tagline-header {
  margin: 0;
  padding-bottom: .8em;

  font-size: 2em;
  font-weight: 300;
  line-height: 1.2em;
}

.nav-main ul {
  padding: 0;
  margin: 0 0 2em;
  list-style-type: none;
}

.nav-main li {
  padding-bottom: .4em;
}

/* projects
 */

.section-projects {
  margin-bottom: 8em;
}

/* footer
 */

.footer-address {
  color: #666;
}

.footer-address a {
  color: inherit;
}

.footer-address a:hover {
  border: 0;
}

.footer-contact {
  margin: 2em 0 0;
  padding: 0;
  list-style-type: none;
}

.footer-contact li {
  padding-bottom: .4em;
}
